<h1>User info</h1>

  <% if @user.errors.any? %>
   <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
         <% end %>
       </ul>
    </div>
   <% end %>


<%= form_with model: @user, local: true, data: { turbo: false } do |f| %>

  <h4>Name</h4>
  <%= f.text_field :name %>
<h6>Image</h6>
  <%= f.file_field :profile_image, placeholder: "ファイルを選択", accept: "image/*" %> 

  <h5>Introduction </h5>
  <%= f.text_area :introduction %>
	
  <p>
  <%= f.submit 'Update User' %>
  </p>

  
<% end %>