<%= render 'list', user: @user %>

<h1>NBook detail</h1>

  <div>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>name ユーザーネーム：<%= @book.user.name %></p>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p> 
  <% if @book.user == Current.user %>
  <%= link_to "Edit", edit_book_path(@book) %> |
  <%= link_to "Destroy", book_path(@book), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
  <% end %>
  </div>

	

