<div class="container">
  <div class="row">
    <!-- 左側カラム（例：幅4） -->
    <div class="col-md-4">
      <%= render 'list', user: @user %>
    </div>

    <!-- 右側カラム（例：幅8） -->
    <div class="col-md-8">
      <h2>Book detail</h2>
      <table class="table">
      <div class="d-flex align-items-center gap-3 flex-wrap">
<div>
  <%= link_to user_path(@book.user) do %>
    <%= image_tag @book.user.get_profile_image(100, 100), alt: @book.user.name %><br>
    <%= @book.user.name %>
  <% end %>
</div>
          <%= @book.title %>
        </div>
        <div>
          <%= @book.body %>
        </div>
        <% if @book.user == Current.user %>
          <div>
            <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary btn-sm" %>
            <%= link_to "Destroy", book_path(@book), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                        class: "btn btn-danger btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>